h1{
    color: gold;
    box-shadow: 2px 4px 6px 8px;
    text-align: center;
}

h2{
    color: rgb(0, 8, 255);
    box-shadow: 1px 2px 3px 4px;
    text-align: center; 
}

h3{
    color: rgb(255, 0, 0);
    box-shadow: 1px 2px 3px 4px;
    text-align: center;  
}